<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <form action="/update/<%= result._id %>" method="post">

        <div class="card" style="width: 18rem;">
              <input type="text" name="name" value="<%= result.name %>" >Name</input>
              <input type="text" name="age" value="<%= result.age %>" >Age</input>
    
              <button type="submit">Update</button>
          </div>
    </form>

</body>
</html>